.main-have-a-question-contact-us {
  background-image: url("../../images/contact_us_img/contact-us-main-back-Image.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 50px 0px; */
}
.have_a_question_main_form_before_start {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.have_a_question_main_form div {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.have_a_question_main_form_input_div input,
textarea {
  width: 300px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 14px;
}
/* button */
.have_a_question_save_button_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.have_a_question_save_button {
  /* width: 10px; */
  cursor: pointer;
  padding: 10px 45px;
  border-radius: 13px;
  background: #367125;
  color: white;
  font-weight: bold;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -9px;
}
