

.our-address-contact-us {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: var(--our-address-font-family);
  font-weight: 400;

}
.main-address-upper-side {
  padding: 20px;
  width: 300px;
  text-align: center;
  font-family: var(--our-address-font-family);
  font-weight: 400;

}
.main-address-upper-side-paregraph {
  font-family: var(--our-address-font-family);
  font-weight: 400;
}
.main-address-bottom-side {
  text-align: center;
  font-family: var(--our-address-font-family);
  font-weight: 400;

}
