.back-our-product-image {
    background-image: url("../../../images/our-product-img/Birds\ GIF.gif");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }