body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --gay-main-bg-color: #e9eaef;
}
 
.heading-text{
  text-align: center;
  font-size: 26px;
  font-family: Georgia;
  text-transform: uppercase;
}
.text-icon-bottom{
  width: 155px;
  margin-top: -30px;
}